.container {
  height: 100vh;
}

.sidenav-container {
  background-color: #101013;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0;
}

.title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.5rem;
}

.title-section h1 {
  font-size: 40px;
  color: #b9b8c7;
}

.links {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.links-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-item {
  margin-bottom: 12px;
}

.link-item a {
  font-size: 30px;
  font-weight: 700;
  color: aliceblue;
}

.content-container {
  background-color: #101013;
  width: 100%;
}

.settings {
  background-color: #8a87ab;
  color: #ececee;
  border: none;
  font-size: medium;
  font-weight: 700;
  padding: 15px 15px;
  border-radius: 8px;
  transition: background-color 0.5s;
}

.settings:hover {
  background-color: #4a4861;
  transition: background-color 0.5s;
}
