<div class="nav-bar">
  <div class="top-section">
    <div class="title">
      <h1 class="title-text">Task</h1>
    </div>
  </div>
  <div class="bottom-section">
    <div class="links">
      <ul class="links-list">
        <li class="link-item"><a href="/tasks" class="link">Tasks</a></li>
        <li class="link-item"><a href="/chat" class="link">Chat</a></li>
        <li class="link-item"><a href="" class="link">Friends</a></li>
      </ul>
    </div>
    <div class="settings-section">
      <button class="settings" (click)="onLogoutClick()">Logout</button>
    </div>
  </div>
</div>
